@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "SignIn";
}

<h2>Regístrate</h2>
<br />
@using (Html.BeginForm("SignIn",
                           "Chat",
                           FormMethod.Post,
                           new { enctype = "multipart/form-data" }))
{
    <p>Nombre: </p>
    <input type="text" class="form-control" name="name" placeholder="Nombre" />
    <p>Contraseña: </p>
    <input type="password" class="form-control" name="password" placeholder="Contraseña" />
    <p>Confirmar contraseña: </p>
    <input type="password" class="form-control" name="password2" placeholder="Contraseña" />
    <button type="submit">Regístrate</button>
}
<p style="color:red">@ViewBag.IncorrectPassword</p>
<hr />
<p>¿Ya tienes una cuenta?</p>
@Html.ActionLink("Inicia sesión", "Index", "Chat")
